@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.header{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: #2980b9;
  background-color: #2B2B2B;
  background: linear-gradient(to right, #180531, #0e215a, #4169E1);
  background: linear-gradient(to right, #07040c, #120e06, #2B2B2B);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}
nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 90%;
  background: #2980b9;
  background-color: #2B2B2B;
  background-color: transparent;
  margin: auto;
}
nav .navbar .logo a {
  color: #fff;
  font-size: 27px;
  font-weight: 600;
  text-decoration: none;
}
nav .navbar .menu {
  display: flex;
}
.navbar .menu li {
  list-style: none;
  margin: 0 15px;
}
.navbar .menu li a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}
section {
  padding-left: 20%;
  padding-right: 20%;
  height: 100vh;
  width: 100%;
  color: #96c7e8;
  font-size: 70px;
 /*  background-image: url('../../assets/19187761.jpg') !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
  z-index: 1;
}
#Home {
  /* background: #1c1b1b; */
  padding-top: 15%;
}
#About {
  padding-top: 15%;
  background: #4444443d;
}
#Category {
  padding-top: 15%;
  background: #423f3e3f;
}
#Latest {
  padding-top: 15%;
  background: #4444443f;
}
#Contact {
  padding-top: 15%;
  background: #4444442f;
}
#Feedback {
  padding-top: 15%;
  background: #423f3e40;
}
.button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #2980b9;
  padding: 7px 12px;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
}
