<footer class="curved-div">
  <div class="content">
    <div class="left box">
      <div class="upper">
        <div class="topic">About us</div>
        <p>This is a channel where you can learn HTML,
        CSS, and also JavaScript along with creative CSS Animations and Effects.</p>
      </div>
      <div class="lower">
        <div class="topic">Contact us</div>
        <div class="phone">
          <a href="#"><i class="fas fa-phone-volume"></i>+91 7029924461</a>
        </div>
        <div class="email">
          <a href="#"><i class="fas fa-envelope"></i>majikunal886@gmail.com</a>
        </div>
      </div>
    </div>
    <div class="middle box">
      <div class="topic">Our Services</div>
      <div><a href="#">Web Design, Development</a></div>
      <div><a href="#">Web UX Design, Reasearch</a></div>
      <div><a href="#">Web User Interface Design</a></div>
      <div><a href="#">Theme Development, Design</a></div>
      <div><a href="#">Mobile Application Design</a></div>
      <div><a href="#">Wire raming & Prototyping</a></div>
    </div>
    <div class="right box">
      <div class="topic">Subscribe us</div>
      <form action="#">
        <input type="text" placeholder="Enter email address">
        <input type="submit" name="" value="Send">
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </form>
    </div>
  </div>
  <div class="bottom">
    <p>Copyright © 2023 <a href="#">MyselfDJKuNaL</a> All rights reserved</p>
  </div>
  <svg viewBox="0 0 1440 319">
    <path fill="#FB2576" fill-opacity="1" d="M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
  </svg>
</footer>
