@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
*{
  margin: 0%;
  padding: 0%;
}
/* Hide default scrollbars */
body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  width: auto;
}

/* Customize scrollbar appearance */
body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

body::-webkit-scrollbar-thumb:active {
  background-color: #333;
}
